{
    "env": {
        "development": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
                    }
                }],
                "@babel/preset-react"
            ],
            "plugins": ["@babel/plugin-proposal-object-rest-spread"]
        },
        "build": {
            "presets": [
                ["@babel/preset-env", {
                    "targets": {
                        "browsers": ["last 2 versions", "safari >= 7", "ie >= 11"]
                    }
                }],
                "@babel/preset-react"
            ],
            "plugins": ["@babel/plugin-proposal-object-rest-spread"],
            "ignore": [
                "**/__tests__/*.js",
                "**/fake-*"
            ]
        }
    }
}
