.traditional-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.traditional-tabs > :not(.traditional-tabs-panel) {
    white-space: normal;
}

.traditional-tabs:after {
    clear: both;
    content: '';
    display: table;
}

.traditional-tabs-panel {
    display: inline;
    margin: 0;
    padding: 0;
}

.traditional-tabs-title {
    background: #EBEBEB;
    color: #363636;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: normal;
}

.traditional-tabs-title--between,
.traditional-tabs-title--last {
    border-left: 1px solid #D2D2D2;
}

.traditional-tabs-title--first {
    border-top-left-radius: 3px;
}

.traditional-tabs-title--last {
    border-top-right-radius: 3px;
}

.traditional-tabs-title--checked {
    background: #FAFAFA;
}

.traditional-tabs-content {
    background: #FAFAFA;
    border-radius: 0 3px 3px 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #363636;
    display: none;
    float: left;
    overflow: hidden;
    padding: 0 1em;
    white-space: normal;
    width: 100%;
}

.traditional-tabs-content--checked {
    display: block;
}
